aiohttp==3.7.4.post0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
braceexpand==0.1.7
cffi==1.14.6
chardet==4.0.0
click==8.0.1
colorama==0.4.4
nextcord==2.0.0a6
Flask==2.0.1
gevent==21.8.0
greenlet==1.1.1
humanize==3.11.0
idna==3.2
import-expression==1.1.4
itsdangerous==2.0.1
Jinja2==3.0.1
jishaku==2.2.0
MarkupSafe==2.0.1
marshmallow==3.13.0
motor==2.5.1
multidict==5.1.0
pycparser==2.20
pymongo==3.12.0
python-dotenv==0.19.0
six==1.16.0
typing-extensions==3.10.0.0
umongo==3.0.0
Werkzeug==2.0.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
