aiohttp==3.7.4.post0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
braceexpand==0.1.7
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
discord.py==1.7.2
Flask==2.0.1
gevent==21.1.2
greenlet==1.1.0
humanize==3.5.0
idna==3.1
import-expression==1.1.4
itsdangerous==2.0.1
Jinja2==3.0.1
jishaku==1.20.0.220
MarkupSafe==2.0.1
marshmallow==3.12.1
motor==2.4.0
multidict==5.1.0
pycparser==2.20
pymongo==3.11.4
python-dotenv==0.17.1
six==1.16.0
typing-extensions==3.10.0.0
umongo==3.0.0
Werkzeug==2.0.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
